@import "./utils/index";
@import "./mixins/index";
@import "./base/index";

@import "../components/Header/Header";
@import "../components/Footer/Footer";
@import "../components/Hero/Hero";
@import "../components/Offer/Offer";
@import "../components/About/About";
@import "../components/UI/index";
