.header {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  padding: 15px 0;
  background: $color-black;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 71px;
    height: 24px;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: $color-black;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 10;

    &.is-open {
      transform: translateX(0);
    }

    &__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 150px 0 0 0;
      text-align: center;
      font-size: $text-lg;

      &-item {
        width: 100%;
        padding: 10px 15px;
      }
      &-item:last-child {
        margin: auto 0 40px;

        .button {
          width: 100%;
        }
      }

      .basket-icon {
        width: 24px;
        height: 20px;

        mask-image: url("../../assets/icons/basket.svg");
        mask-repeat: no-repeat;
        mask-size: contain;

        background: $color-light;
      }
    }

    a {
      color: $color-light;

      &:hover {
        background: $gradient-light;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
  }

  &__burger {
    .button {
      width: 30px;
      height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 20;
      cursor: pointer;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: $color-light;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
    }

    &.is-open {
      span {
        border-radius: 0;

        &:nth-child(1) {
          transform: translateY(11px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-11px) rotate(-45deg);
        }
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: $color-black;
    opacity: 0.5;
  }
}

@include tablet {
  .header {
    height: 80px;

    &__burger {
      .button {
        display: none;
      }
    }

    &__nav {
      position: static;
      transform: none;
      width: auto;
      height: auto;
      background: transparent;

      &__list {
        flex-direction: row;
        padding: 0;
        font-size: $text-md;

        &-item {
          display: flex;
        }

        &-item:last-child {
          margin: 0;
          padding-right: 0;
        }
        .button--primary {
          padding: 0;
          border: none;
          background: none;
          min-width: auto;
          height: auto;

          &:hover {
            opacity: 1;

            .basket-icon {
              background: $gradient-light;
            }
          }
        }
      }
    }
  }
}

@include desktop-xl {
  .header {
    &__logo {
      width: 104px;
      height: 35px;
    }
  }
}
