.footer {
  background: $color-black;
  text-align: center;
  padding: 10px 0;

  &__icon {
    margin: 0 auto;
  }

  &__text {
    color: $color-yellow;
    font-weight: $font-extra-bold;
    font-size: $text-md;
    line-height: 28px;
    margin-bottom: 0;
  }
}
