$tablet: 768px;
$desktop-lg: 920px;
$desktop-xl: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$desktop-xl}) {
    @content;
  }
}
