h1 {
  font-family: $font-main;
  font-weight: $font-extra-bold;
  font-size: $text-h1;
  line-height: 1.2;

  @include tablet {
    font-size: $text-h1;
  }
}

h2 {
  font-family: $font-main;
  font-weight: $font-extra-bold;
  font-size: $text-h2;
  line-height: 1.3;
  color: $color-light;
}

h3 {
  font-family: $font-main;
  font-weight: $font-extra-bold;
  font-size: $text-h3;
  line-height: 1.2;
  color: $color-light;
}

p {
  margin-bottom: 15px;
}

@include tablet {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }
}

@include desktop-xl {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 32px;
  }
}
